doctype html
html(ng-app="msiApp")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')

    link(href="/style.css", rel="stylesheet")
    block title
      title Node.js/Express minimum seed
  body
    block body-block